<h1>Editing Event</h1>

<%= render 'form' %>

<br><br>

<small>Warning: This action cannot be undone!</small><br>
<%= button_to "Delete #{@event.title}?", event_path, method: "delete" %>

<br><br>
<%= link_to "Back to #{@event.title}", @event %> |
<%= link_to 'Back to Events', events_path %>
