
<body>
<h1>Tips for Protesting</h1>


<h2>1. Do Your Research</h2>
<p>Make sure you know about the issue(s) you are demonstrating for. It is important for you to be able to speak intelligently and respond to questions from the press – you might be a representative for the issue you are there for so it is important to be informed.</p>


<h2>2. What to Bring/How To Dress</h2>
<p>Pack the absolute minimum you need to a protest, as you don’t want to bring fragile and valuables (i.e. laptop) to a protest unless you are a journalist, photographer, etc. and you need to. Make sure to wear comfortable shoes and multiple layers of clothing that cover your skin so that you can be comfortable in any temperature. Beware of pickpockets at a protest, so keep your wallet and valuables in a place in your backpack that is hard to access.Certain things that might be good to include in your backpack are: </p>
<ul>
  <li>Identification</li>
  <li>Phone battery and charger</li>
  <li>Water</li>
  <li>Snacks</li>
  <li>Mini first aid kit</li>
  <li>Any medication that you can’t do without</li>
  <li>Dry Bandana</li>
  <li>Bandana soaked in vinegar, sealed in a plastic bag (in case of tear gas)</li>
  <li>Wet Wipes</li>
  <li>Pen and Paper</li>
</ul>

<h2>3.  GO WITH A GROUP</h2>
<p>DO NOT EVER GO ALONE. Go with a group or AT LEAST one other person so you can be accountable for one another and advocate for each other if there is any trouble.</p>

<h2>4. KNOW WHEN TO LEAVE</h2>
<p>More often than not, well-organized demonstrations remain peaceful. However, if you see any violence or behavior you disagree with, you should leave immediately because you might be culpable for what happens if you are part of the group. Look at the demonstration route/location(s) beforehand and plan several exit strategies so you are prepared.</p>


<h2>5. KNOW YOUR RIGHTS</h2>
<p>If you the police try to search you:</p>

<ul>
  <li>You can stay silent – you do not have to say anything</li>
  <li>You do not have to give consent – you can say no (politely) and ask them to come back with a warrant</li>
  <li>If you agree to a search, then they can search your things (including your electronic devices) without a warrant.</li>
  <li>If they do have a search warrant, ask to see it (you have the right to see it), and make sure they only search things that the warrant authorizes them to search</li>
  <li>You do not have to help them search, and you can stay silent. This includes giving them passwords or encryption keys</li>
  <li>If you have given them consent/they have a search warrant – do not obstruct their search</li>
  <li>If you have access to a lawyer, it is recommended to speak to them before any search or discussion with the police.</li>
</ul>


<h2>6. IF YOU HAVE TO INTERACT WITH LAW ENFORCEMENT</h2>
<p>If you have any conversations with the police or other law enforcement, make sure you are respectful and calm, even if you are addressing something they are doing that you disagree with. It is important to try and de-escalate any tense situation, especially with law enforcement and maintaining a calm and rational tone is one of the best ways to do so. Do not antagonize or argue with the police, it could cause trouble for other protesters and perhaps the entire protest.</p>


<h2>7. IF YOU GET ARRESTED</h2>
<p>Number one – do NOT resist arrest, even if you know or feel you have done nothing wrong. Make sure to de-escalate the situation as best as you can by being overly polite and follow their instructions (within reason) without resisting.</p>


<p>You have the right to: remain silent, and be informed of any charges against you (any their penalties), speak to your attorney (or be appointed one if you can’t afford one), and have a judge decide whether or not you should be let out of jail until your trial. The only time you do not have the right to remain silent is when they ask for your basic information like name and address.</p>

<p>Don’t resist arrest. If you’ve done nothing wrong, don’t struggle. Be overly polite and make sure the officers know your name. Do whatever you can to humanize yourself and the group you’re with. Generally police are just trying to keep everyone safe, as long as you do everything you can to show you’re not a threat, you’ll be fine. Remaining silent might be used against you later, but you can say you do not want to answer any questions without your attorney present. They are technically now allowed to question you without your lawyer present if you ask for it (unless you waive that right).</p>


<p>A good resource for a lawyer is the National Lawyers Guild – they are often at protests (you can identify them at demonstrations by their neon green hats). https://www.nlg.org/</p>