
html{
  height:100%;

}
a:hover{
  text-decoration:none !important;
}
body{
color:red;
padding:3em;
font-family: 'Montserrat', sans-serif;
height:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2274cc+74 */
background: #ffffff; /* Old browsers */
background-color: -moz-linear-gradient(top, #ffffff 0%, #2274cc 74%); /* FF3.6-15 */
background-color: -webkit-linear-gradient(top, #ffffff 0%,#2274cc 74%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#2274cc 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2274cc',GradientType=0 ); /* IE6-9 */
background-repeat:no-repeat;
background-size:cover;
}

ul{
  list-style:none;

}
li{
  list-style:none !important;
}
.container{
  background-color:#fff;
  width:85%;
  margin:0 auto;
  border-radius:10px;
  border: 2px solid #B2242F;
}

#logo-primary{
  color: #5893B2;
  font-weight:bold;
  font-size:3em;
}
#logo-secondary{
  color: #B2242F;
  font-weight:bold;
  font-size:3em;
}
.navbar{
  border:none !important;
}
.homenav{
  background-color:transparent !important;
}
.navbar-toggle {
border:none;
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0); }
.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0); }